<!-- <div class="back">
<div class="wrap_error">
  <div class="error_box">
    <h1 class="heading_404">
      <span class="a">4</span><span class="b">0</span><span class="c">4</span><br> <b class="text_color">error</b>
    </h1>
    <h3 class="text_color">This page dosen't exits.</h3>
    <h4 class="text_color">Whould You like to <a href="#"><span class="htp"> learn about HTTP errors?</span></a></h4>
    <img src="assets/img/error.png" alt="error" class="error_img" width="100%">
  </div>
</div>
</div> -->


<!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->

<div class="bg-purple">
        
  <div class="stars">
     
      <div class="central-body">
       
          <img class="image-404" src="assets/img/404.svg" width="300px">
          <a href="#" class="btn-go-home">GO BACK HOME</a>
      </div>
      <div class="objects">
          <img class="object_rocket" src="assets/img/rocket.svg" width="40px">
          <div class="earth-moon">
              <img class="object_earth" src="assets/img/earth.svg" width="100px">
              <img class="object_moon" src="assets/img/moon.svg" width="80px">
          </div>
          <div class="box_astronaut">
              <img class="object_astronaut" src="assets/img/astronaut.svg" width="140px">
          </div>
      </div>
      <div class="glowing_stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>

      </div>

      <img class="logoerror" src="assets/img/logo.png" width="140">

  </div>

</div>