.boxindex{position: relative;}
.boxindex:before{position: fixed; height: 100%; width: 100%; background: rgba(255,255,255,0.7); left: 0; top: 0; z-index: 111;}
.boxindex .white-box{z-index: 999; position: relative;}
img.load_img {
    position: absolute;
    top: 5px;
    right: 34px;
    z-index: 1;
}
