.new-login-register .new-login-box{box-shadow: 0px 0px 2px rgba(0,0,0,0.3);}
.filtersnav {margin: 0;}
.datadate{display: block; font-weight: 400; color: #f26622;}
.status-active{color: #57c557; width: 15px; height: 15px; border-radius: 20px; display: inline-block;}
.status-deactivate{color: red; width: 15px; height: 15px; border-radius: 20px; display: inline-block;}
.messages_dash h4>small{float: right; margin-top: 5px; color: #9a9ea0;}
.messages_dash>a{position: relative; padding-left: 40px;font-size: 12px; background: #02314c; color: #eee !important;}
.messages_dash>a>h4{color: #fff !important;}
.messages_dash i {
    font-size: 16px;
    position: absolute;
    top: 13px;
    left: -11px;
    /* border: 1px solid #eee; */
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 27px;
    background: #f26622;
    color: #fff;
    border-radius: 20px;
    line-height: 36px;
}
.messages_dash>a:hover{background: #f26622 !important;}
.unreadmsg h4{font-weight: 500; font-size: 15px;}
.valign-table > tbody > tr > td {
     vertical-align: middle !important;
}

.performance_table .titleperform{font-weight: 500; color: #fff}
.filtersnav .right-side-toggle i{position: static; animation: none; -webkit-animation: none; -moz-animation: none;}
.navbar-default {
    border-color: #02314c !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #02314c !important;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0 !important;
}
table th a{color: #fff !important;}
.rounded-circle {
    border-radius: 50%!important;
}




@media (max-width: 767px){
.dark-logo{height: 25px; display: inline-block;}
.top-left-part a{padding-left: 0;}
.filtersnav{display: flex;}
.logo b{float: none;}

/*nav responsive*/
        .navbar-float{display: none;}
        .top-left-part{margin: 0 auto; float: none; text-align:center; width: 202px; border:none;}
        .navtoggle{position: absolute; top: 0px; left: 0px; line-height: 56px; padding: 0 15px; color: #fff; font-size: 20px;}
        .navtoggle_right{position: absolute; top: 0px; right: 0px; line-height: 56px; padding: 0 15px; color: #333;}
        .show{display: inline-block !important; position: relative; width: 100%; overflow: visible !important;}
        .dropdown .dropdown-tasks, .dropdown .mailbox{left: 0;}
/*nav responsive*/
        
    }
@media only screen and (min-width:320px) and (max-width: 767px) and (orientation: portrait){
    .dropdown{position: static !important;}
        .dropdown-menu{left: 0 !important; width: 100% !important;}

    }