
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Manage Admin</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb m-r-0">
        <li> 
            <a class="btn btn-sm btn-outline btn-info waves-effect waves-light"><i
              class="fa fa-refresh"></i></a>
        </li>
        <li>
          <input type="text"
          ngxDaterangepickerMd
          [(ngModel)]="currentDate"
          [showCustomRangeLabel]="true"
          [ranges]="ranges"
          [opens]="'left'"
         
          
          [showCancel]="true"
          [linkedCalendars]="true"
          [alwaysShowCalendars]="alwaysShowCalendars"
          [locale]="{applyLabel: 'Apply', format: 'DD/MM/YYYY', firstDay: 1}"
          class="form-control input-sm daterange"
          placeholder="Select please..."/></li>
        <li>
          <a class="btn btn-sm btn-outline btn-info waves-effect waves-light" (click)="clickadd()"><i
              class="fa fa-plus"></i></a>
          <!-- <a routerLink="/active-hours" class="btn btn-outline btn-info waves-effect m-l-10 waves-light">Add Publisher</a> -->
          <!-- <a (click)="clickFilter()" class="btn btn-sm btn-outline btn-info waves-effect m-l-10 waves-light"><i
              class="fa fa-filter"></i> Filter</a> -->
        </li>
      </ol>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="row boxindex " *ngIf="add">
    <div class="col-sm-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Add New Publisher</h3>
        <p class="text-muted m-b-10">Just add new publisher in your account</p>
  
        <form class="form-horizontal commonForm" [formGroup]="ManagePublisher" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-4">
              <h5 class="m-t-20 m-b-10">Full Name</h5>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter fullname">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <h5 class="m-t-20 m-b-10">Email</h5>
              <input type="email" class="form-control" formControlName="email" placeholder="Email id">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                
              </div><div class="invalid-feedback">{{message}}</div>
              
            </div>
            <div class="col-sm-4">
              <h5 class="m-t-20">Contact</h5>
              <input type="number" class="form-control" formControlName="contact" placeholder="Contact number">
              <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                <div *ngIf="f.contact.errors.required">Contact is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h5 class="m-t-20 m-b-10">Price per TFN ($)</h5>
              <input type="number" class="form-control" formControlName="tfn" placeholder="$">
              <div *ngIf="submitted && f.tfn.errors" class="invalid-feedback">
                <div *ngIf="f.tfn.errors.required">Price per TFN is required</div>
              </div>
            </div>
            <div class="col-sm-4">
              <h5 class="m-t-20 m-b-10">Password</h5>
              <input type="password" class="form-control" formControlName="password" placeholder="password">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="col-sm-4">
              <h5 class="m-t-20">Confirm Password</h5>
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <h5 class="m-t-20 m-b-10">Choose Role</h5>
      
                  <select class="form-control" formControlName="role" >
                    <option *ngFor="let role of this.roledata" value="{{role.name}}">{{role.name}}</option>
                    <div *ngIf="submitted2 && f.role.errors" class="invalid-feedback">
                      <div *ngIf="f.role.errors.required">Role is required</div>
                    </div>
                  </select>
      
                </div> 
              <div class="col-md-4">
              <img *ngIf="loading" src="assets/img/loading.gif" width="24"> 
              </div>
           
            <div class="col-md-4 pull-right text-right">
              <h5 class="m-t-20"></h5>
              <button type="submit" *ngIf="submitbutton" id="deselect-all" class="btn btn-info btn-outline">Add Admin</button>
              <a id="refresh" (click)="clickadd()" class="btn btn-danger btn-outline m-l-10">Cancel</a>
            </div>
            <div class="ajax_loader" *ngIf="loading" >
              <img  src="assets/img/loading.gif" width="24"> 
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     
      <div class="white-box">
        <h3 class="box-title">Admins  </h3>
       
        <!-- <div class="alert pbxalert alert-danger alert-dismissible animated fadeInRight">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{messageheader}} You should read this message.
        </div> -->
        <div class="table-responsive performance_table">
            <!-- <div class="ajax_loader" *ngIf="mf.data==null || mf.data==''">Loading data..</div> -->
  
  
        <div class="alert pbxalert alert-success alert-dismissible animated fadeInRight" *ngIf="messageheader != ''">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{messageheader}}
        </div>
        <div class="alert pbxalert alert-warning alert-dismissible animated fadeInRight" *ngIf="messageheadererror != ''">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{messageheadererror}}
        </div>
  
        <!-- <div *ngIf="messageheader != ''" class="alert alert-success" >
            {{messageheader}}
        </div>
        <div *ngIf="messageheadererror != ''" class="alert alert-warning " >
            {{messageheadererror}}
        </div> -->
        <div class="table-responsive performance_table">
  
          <!-- <div class="ajax_loader"*ngIf="loader" >fetching data ..</div> -->
  
          <table class="table table-striped valign-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" >
            <thead>
              <tr>
                <th>No.</th>
                <th>
                  <mfDefaultSorter by="fullname" class="ancor">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="contact">Contact No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="role">Role</mfDefaultSorter>
                </th>
                <!-- <th>
                  <mfDefaultSorter by="day">status</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="month">Month</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="total">Total</mfDefaultSorter>
                </th> -->
                <th>
                  <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of mf.data;index as i;">
                <td>{{i + 1}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <!-- <td>{{user.status}}</td>
                <td>{{user.month}}</td>
                <td>{{user.total}}</td> -->
                <td> 
                    <span *ngIf="user.status =='active'">
                        <input type="checkbox" checked class="switchinput" id="statuscheck{{i}}"/><label for="statuscheck{{i}}" class="switchbtn status">Toggle</label>
                
                    </span>
                    <span *ngIf="user.status !='active'">
                        <input type="checkbox"   class="switchinput" id="statuscheck{{i}}"/><label for="statuscheck{{i}}" class="switchbtn status">Toggle</label>
                
                    </span> 
                </td>
                 
                <td style="width: 230px; ">
                  <a  placement="top" tooltip="Edit" (click)="edit(user.uid)" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5"
                    >
                    <i class="fa fa-edit"></i>
                  </a>
                  <!-- <a placement="top" tooltip="Queue" (click)="clickqueue(user.uid)" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5"
                    >
                    <i class="fa fa-users"></i>
                  </a>
                  <a placement="top" tooltip="add buyer" (click)="clickbuyer(user.uid)" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5"
                  >
                    <i class="fa fa-user-plus"></i>
                  </a>
                  
                  <a placement="top" tooltip="view report" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5"
                  >
                    <i class="fa fa-pie-chart"></i>
                  </a>
  
                  <a placement="top" tooltip="settings" (click)="clicksetting(user.uid)" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5"
                  >
                    <i class="fa fa-cog"></i>
                  </a> -->
                  <!-- <a placement="top" tooltip="pause" class="edit-modal btn btn-warning btn-outline btn-circle btn-sm m-r-5"
                    title="pause">
                    <i class="fa fa-pause"></i>
                  </a> -->
  
                  <a href="javascript:void()" mwlConfirmationPopover tooltip="delete"
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  [popoverClass]="popoverClass"
                  placement="left"
                  (confirm)="delete(user.uid)"
                  (cancel)="cancelClicked = true"
                    class="edit-modal btn btn-danger btn-outline btn-circle btn-sm m-r-5"
                    title="trash" >
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
                <!-- <ng-container *ngIf="mf.data !=null"></ng-container> -->
              </tr>
  
              <tr  class="ajax_loader" *ngIf="mf.data==null || mf.data==''"><td colspan="7">Loading data..</td></tr>
  
              <!-- <tr *ngIf="mf.data==null || mf.data==''"><td>Loading data..</td></tr> -->
  
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
       
      </div>
    </div>
  </div>
</div>