#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: #002133;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
/*#msform fieldset:not(:first-of-type) {
    display: none;
}
*/
/*inputs*/
#msform input.form-control, #msform textarea.form-control, #msform select.form-control {
    padding: 15px;
    border: 1px solid #3c5e71;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #ffffff94;
    font-size: 13px;
    height: 50px;
    background: #02314c;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    min-width: 100px;
    background: #006cb4;
    /*font-weight: bold;*/
    color: #ffffff94;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 5px;
    text-transform: uppercase;
    display: inline-block;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: #ffffff94;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}



/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #006cb4;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #ffffff96;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    display: flex;
    padding: 0 20px;
}

#progressbar li {
    list-style-type: none;
    color: #ffffff94;
    text-transform: uppercase;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    z-index: 1;
}
#progressbar li>span{display: block; font-size: 10px; text-transform: none; padding: 5px 30px; color: #ffffff94;}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 18px;
    color: #296182;
    background: #002133;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: calc(100% - 40px);
    height: 2px;
    background: #002133;
    position: absolute;
    left: calc(-50% + 20px);
    top: 19px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
#progressbar li.active{color:#006cb4;}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #006cb4;
    color: #ffffff94;
}

/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #ffffff94;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}


/* fieldset{display: none;}
fieldset.show{display: block;} */
.themeradiobox{padding: 10px; margin: 20px 0 20px; border: 1px solid #eee; display: inline-block; line-height:27px; min-height: 50px; width:100%;/*padding-top: 30px;*/}
.themeradiobox input[type="radio"]{opacity: 0; margin:0px; position: absolute;}
.themeradiobox span{position:relative; padding-left:22px; font-weight:normal; color:#ffffff94; text-align: center; font-size:13px; float: left;}
.themeradiobox span:before{ position: absolute; border-radius:50px; background: #002133; width: 18px;  height: 28px; top: -19px; left: 0px; content:''; border:solid #818181 1px;}
.themeradiobox input[type="radio"]:checked + span:before  { content: "\f111"; font-family: 'FontAwesome'; color:#4fba6f;  font-size: 10px; line-height: 16px; text-align: center; border-color:#4fba6f;} 

.labelactive{border-color: #4fba6f}


