 <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Add Payment</h4> </div>
                   <!--  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
                        <a href="javascript: void(0);" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Starter Page</li>
                        </ol>
                    </div> -->
                    <!-- /.col-lg-12 -->
                </div>

                
 <div class="row">
            
    <div class="col-sm-12">
         <form id="msform">
            <fieldset>
                <h2 class="fs-title">SETUP A PAYMENT</h2>
                <h3 class="fs-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                
                <div class="select_wrapper">
               <select class="form-control">
               <option>Select publisher</option>
               	<!-- <option *ngFor="let country of countryList;">
               	{{publisher.name}}
               	</option> -->
               </select>
               </div>
               <div class="select_wrapper">
                <select class="form-control">
                <option>Choose payment mode</option>
                <option>Cash</option>
                <option>Cheque</option>
                <option>Card</option>
               </select>
                </div>
               <input type="text" class="form-control" name="fname" placeholder="Amount"/>
               <input type="text" class="form-control" name="fname" placeholder="Date of payment"/>
              <textarea class="form-control" placeholder="Remarks"></textarea>
                <input type="button" name="next" class="next action-button" value="Save"/>
            </fieldset>

            </form>
            </div>
            </div>
