 <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Manage Audit Profiles</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb m-r-0">
                            <li>  <input type="text"
                                ngxDaterangepickerMd
                                [(ngModel)]="selected"
                                [showCustomRangeLabel]="true"
                                [ranges]="ranges"
                                [opens]="'left'"
                                [showCancel]="true"
                                [linkedCalendars]="true"
                                [alwaysShowCalendars]="alwaysShowCalendars"
                                [locale]="{applyLabel: 'Apply', format: 'DD/MM/YYYY', firstDay: 1}"
                                class="form-control input-sm daterange"
                                placeholder="Select please..."/></li>
                          
                    <li> 
                      <a class="btn btn-sm btn-outline btn-info waves-effect waves-light" (click)="clickadd()"><i class="fa fa-plus"></i></a>
                        <!-- <a routerLink="/active-hours" class="btn btn-outline btn-info waves-effect m-l-10 waves-light">Add Publisher</a> -->
                         <a (click)="clickFilter()" class="btn btn-sm btn-outline btn-info waves-effect m-l-10 waves-light"><i class="fa fa-filter"></i> Filter</a>
                        </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>



<div class="row boxindex" *ngIf="add">
    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Add Audit Profile</h3>
                            <p class="text-muted m-b-10">Just add new publisher in your account</p>

                            <form class="form-horizontal commonForm" action="">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5 class="m-t-20 m-b-10">Full Name</h5>
                                  <input type="text" class="form-control" name="" placeholder="Enter fullname">
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="m-t-20 m-b-10">Email</h5>
                                   <input type="email" class="form-control" name="" placeholder="Email id">
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="m-t-20">Contact</h5>
                                    <input type="text" class="form-control" name="" placeholder="Contact number">
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-sm-4">
                                    <h5 class="m-t-20 m-b-10">Password</h5>
                                   <input type="password" class="form-control" name="" placeholder="password">
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="m-t-20">Confirm Password</h5>
                                    <input type="text" class="form-control" name="" placeholder="Confirm password">
                                </div>
                           
                                <div class="col-md-4 pull-right text-right">
<div class="btnm">
                          <button type="button" id="deselect-all" class="btn btn-info btn-outline">Add Audit Profile</button>
                          <a id="refresh" (click)="clickadd()" class="btn btn-danger btn-outline m-l-10">Close</a>
                         </div>
                         </div>
                         </div>
                         </form>
                        </div>
                    </div>
</div>

                   <div class="row">
                    <div class="col-md-12">
                    <div class="white-box">
                    <h3 class="box-title">Publishers</h3>
                       <div class="table-responsive performance_table">
<table class="table table-striped valign-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
  <tr>
  <th>No.</th>
      <th>
          <mfDefaultSorter by="name" class="ancor">Name</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="createnumber">User Name</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="live">Email</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="hour">Contact No.</mfDefaultSorter>
      </th>
       <th>
          <mfDefaultSorter by="day">Createed Date</mfDefaultSorter>
      </th>
       
      
       <th>
          <mfDefaultSorter by="">Status</mfDefaultSorter>
      </th>
       <th>
          <mfDefaultSorter by="">Action</mfDefaultSorter>
      </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of mf.data; index as i;">
  <td>{{i + 1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.contact}}</td>
      <td>{{user.date}}</td>
    
      <td> <span *ngIf="user.status =='active'"><i class="fa fa-toggle-on fa-lg text-success"></i></span><span *ngIf="user.status !='active'"><i class="fa fa-toggle-off fa-lg text-danger"></i></span></td>
      <td style="width: 170px; ">
      <a href="javascript:void()" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5">
                    <i class="fa fa-edit"></i> 
       </a>
       <a href="javascript:void()" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5">
                    <i class="fa fa-user-plus"></i> 
       </a>
       <a href="javascript:void()" class="edit-modal btn btn-warning btn-outline btn-circle btn-sm m-r-5">
                    <i class="fa fa-pie-chart"></i> 
       </a>
       <a href="javascript:void()" class="edit-modal btn btn-info btn-outline btn-circle btn-sm m-r-5">
                    <i class="fa fa-pause"></i> 
       </a>
       <a href="javascript:void()" class="edit-modal btn btn-danger btn-outline btn-circle btn-sm m-r-5">
                    <i class="fa fa-trash"></i> 
       </a>
      
       </td>
      
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="10">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
  </tfoot>
</table>
</div>
              
              </div>
                    </div>
                </div>





                 <!-- .right-sidebar -->
                <div class="right-sidebar" [ngClass]="status? 'shw-rside' : ''">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Filter Panel <span (click)="clickFilter()"><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                             <form class="form-horizontal" action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="m-t-20 m-b-10">Select box</h5>
                                    <select class="selectpicker form-control" data-style="form-control" (change)="selectChangeFilter($event)">
                                            <option value="0">Select filter type</option>
                                            <option value="Name">Name</option>
                                            <option value="Contact">Contact</option>
                                            <option value="Email">Email</option>
                                           
                                            <option value="Role">Status</option>
                                          </select>
                                        </div>
                                        <div class="col-md-12" *ngIf="filtr1">
                                          <h5 class="m-t-20 m-b-10">Select {{selectedFilter}}</h5>
                                          <input type="text" class="form-control" name="" placeholder="Enter {{selectedFilter}}">
                                        </div>
                                        <div class="col-md-12" *ngIf="filtr2">
                                          <h5 class="m-t-20 m-b-10">Select {{selectedFilter}}</h5>
                                          <input type="text" class="form-control" name="" placeholder="Enter {{selectedFilter}}">
                                        </div>
                                        <div class="col-md-12" *ngIf="filtr3">
                                          <h5 class="m-t-20 m-b-10">Select {{selectedFilter}}</h5>
                                          <input type="text" class="form-control" name="" placeholder="Enter {{selectedFilter}}">
                                        </div>
                                       
                                        <div class="col-md-12" *ngIf="filtr4">
                                            <h5 class="m-t-20 m-b-10">Select {{selectedFilter}}</h5>
                                           <select class="form-control">
                                               <option>Active</option>
                                               <option>Deactive</option>
                                           </select>
                                          </div>
                               
                            </div>
                             <div class="row">
                                <div class="col-md-12">
 <h5 class="m-t-30"></h5>
                          <button id="deselect-all" class="btn btn-info btn-outline" href="#">Apply Filter</button>
                          <a id="refresh" class="btn btn-warning btn-outline m-l-5" href="#">Reset</a>
                         </div>
                         </div>
                         </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->